.wrapper{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    margin-left:5%;
    margin-right:5%;
}
.info{
    padding-left: 5%;
}
.unset_img{
    width: 100%;
  }
  .unset_img>div{
    position: unset !important;
  }
  .custom_img{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

@media only screen and (max-width: 768px){
    .wrapper{
        display: block;
    }
    .info{
        text-align: center;
        margin-top:2%;
    }
  }
  @media only screen and (max-width: 428px){
    .wrapper{
        display: block;
    }
    .info{
        text-align: center;
        margin-top:2%;
    }
  }